*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    display: grid;
    background-color: #000000;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    padding: 0%;
    opacity: .96;
    height: 92px;

    
}
.body{  
    background-color:111111; 
    display: block;
    margin: 0%;
    
    
}

.header>div>span>a{
    color: #ffffff;
    font: bold;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding:10;
    text-decoration: none;
    border:none;
    outline: none;

}
.header>div>span>a:hover{
    background-color: #EE0000 ;
}

.home{
    display: grid;
    margin-top: 10%;
    margin-bottom: 10%;
    grid-template-columns: 1fr 1fr;
   
    
}
.profile{
    width: 50%;
    position: relative;
    justify-self: center ;
    border: 9px solid #EE0000;
}

.profile p{
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    justify-content: center;
    font-size: 64px;
}

.about{
    width :50%;
    position: relative;
    justify-self: center ;
    font-family: Montserrat, sans-serif;
   
}
.about-head{
    margin: 7px;
    text-align: center;
    margin-right: 10px;
    
}
.about-head h
{   color: #ffffff;
    font-size: 36px;
    border-bottom: 9px solid #EE0000;
}
.about p{
    color: #ffffff;
    font-size: 24px;
}
.projects{
	display:block;
	font-family: Montserrat, sans-serif;
}
.project_head{
	color:#ffffff;
	border-bottom:9px solid #EE0000;
}

.proj_grid{
	display:grid;
	height:100vh;
	grid-template-columns:  1fr 1fr 1fr;
	
}
.card1{
	height:50vh;
	background-color:#000000;
	margin-left:20%;
	margin-right:20%;
 	margin-top :30%;
	box-shadow:0px 4px 8px 0px #EE0000;

}
.cardimg1{
		width:100%;
		height:50%;
		background-image:url('img/laptopimg1.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		background-blend-mode:overlay;
}
.blend{
	background-color:rgba(0,0,0,0.5);
	height:100%;
	width:100%;
	color:#ffffff;
	text-align:center;
	padding-top:40px;
}
.info{
	padding-top:20px;
	padding-left:8px;
	padding-right:8px;
	text-align:center;
	font-size:24px;	
	color:#fafafa;
}
.card2{
	height:50vh;
	background-color:#000000;
	margin-left:20%;
	margin-right:20%;
	margin-top :30%;
	box-shadow:0px 4px 8px 0px #EE0000;


}
.cardimg2{
		width:100%;
		height:50%;
		background-image:url('img/laptopimg2.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		background-blend-mode:soft;
}
.card3{
	height:50vh;
	background-color:#000000;
	margin-left:20%;
	margin-right:20%;
	margin-top :30%;
	box-shadow:0px 4px 8px 0px #EE0000;


}
.cardimg3{
		width:100%;
		height:50%;
		background-image:url('img/laptopimg3.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		background-blend-mode:overlay;
}

.card1:hover{
	box-shadow:0px 12px 16px 0px #EE0000;
	transition:0.3s;
}

.card2:hover{
	box-shadow:0px 12px 16px 0px #EE0000;
	transition:0.3s;
}
.card3:hover{
	box-shadow:0px 12px 16px 0px #EE0000;
	transition:0.3s;
}

.contacts{
	display:block;
	font-family: Montserrat, sans-serif;

}
.contacts_head{
	text-align:center;
	color:#ffffff;
	border-bottom:9px solid #EE0000;


}

.contact_body{
		display: grid;
		height: 100vh;
		width: 100%;
		align-items: center
}
.contact_logo{
		background-color: #EE0000;
		height: 10vh;
		align-self: center;
		margin-left: 30%;
		margin-right: 30%;	
		display:flex;
	   border-radius: 10px;	
	   justify-content: space-around;
	   align-items: center;
	   align-content: center;;
}

.logo1{
	background-size: contain;
	border-radius: 100px;
	background-color: #ffffff;
	height: 8vh;
	width: 8vh;
	align-self: center;

}

.logo2{
	align-self: center;
	background-size: contain;
	border-radius: 100px;
	background-color: #ffffff;
	height: 8vh;	
	width: 8vh;
}

.logo3{
	align-self: center;
	background-size: contain;
	border-radius: 100px;
	background-color: #ffffff;
	height: 8vh;	
	width: 8vh;
}

.logo4{
	align-self: center;
	background-size: contain;
	border-radius: 100px;
	background-color: #ffffff;
	height: 8vh;	
	width: 8vh;
}







