*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    display: grid;
    
    background-color: #000000;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    padding: 0%;
    opacity: .96;
    height: 92px;

    
}
.body{  
    background-color:111111;
    background-image: radial-gradient(#111111,#000000);
    display: block;
    margin: 0%;
    
    
}

.header>div>span>a{
    color: #ffffff;
    font: bold;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding:10;
    text-decoration: none;
    border:none;
    outline: none;

}
.header>div>span>a:hover{
    background-color: #EE0000 ;
}

.home{
    display: grid;
    margin-top: 10%;
    margin-bottom: 10%;
    grid-template-columns: 1fr 1fr;
   
    
}
.profile{
    width: 50%;
    position: relative;
    justify-self: center ;
    border: 9px solid #EE0000;
}

.profile p{
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    justify-content: center;
    font-size: 64px;
}

.about{
    width :50%;
    position: relative;
    justify-self: center ;
    font-family: Montserrat, sans-serif;
   
}
.about-head{
    margin: 7px;
    text-align: center;
    margin-right: 10px;
    
}
.about-head h
{   color: #ffffff;
    font-size: 36px;
    border-bottom: 9px solid #EE0000;
}
.about p{
    color: #ffffff;
    font-size: 24px;
}